body {background-color: #1c2128; text-align: center;}
h1 {background-color: #2a4253; color: #4ba9dd;}
h3 {background-color: #3c627e; color: #5b9ec2;}
a {background-color: #282f38; color: #aadcff ;}

/* gayest gaymer of all time */